[submodule "opencl"]
	path = opencl
	url = git://gitorious.org/qt-labs/opencl.git
[submodule "random"]
	path = random
	url = https://github.com/emmmile/random.git
[submodule "timer"]
	path = timer
	url = https://github.com/emmmile/timer.git
